.footer{
  background-color: #bc9b88 !important;
}

.ful{
  background-color: #ffffff !important;
}

.welcome{
  color: #27b6ee !important;
  font-weight: bolder;
}

.hub{
  color: #ffca2c;
}

.navbar-brand{
  color:#fff !important;
}
.navbar{
  background-color: #000 !important;
}

.recruiterMain{
  font-weight: bolder;
}

.lead{
  color: #f85069;
  font-size: 20px;
  font-weight: 500;
  justify-content: center;
  margin-left: 100px;
}

.footerMain{
  background-color: #2d1f42 !important;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.footerMain1{
  background-color: #c1dde8 !important;
}

.iconMain{
  color: #f85069;
}

.followMain{
  color: #f85069;
  font-weight: 800;
}

.btnMain{
  gap: 10px;
}

.profileMain{
  background-color: #ffca2c;
  font-weight: 800;
  color: #f55265;
  border-color: #f55265;
}

.browseMain{
  background-color: #27b6ee !important;
}