.mainDiv{
  background-color: #c1dde8 !important;
  width: 100rem !important;
}

.addMain{
  font-weight: bold;
}

.btnJob{
  gap: 10px;
}

.submitJob{
  background-color: #27b6ee;
}

.cancelJob{
  background-color: #f75169;
}

.form-control{
  border-width: 1px !important;
  border-color: #ffca2c;
}