.lead{
  color: white;
}

.display-4{
  color: #b5b5b5;
}

.navbar-brand{
  color: #ffca2c !important;
}

.login{
  border-color: #ffca2c !important;
}

.btn-light{
  background-color: #ffca2c !important;
}

.connect{
  color: #ffca2c;
}