/* GetAllFreelancers.css */
.background-image {
  background-image: url('../../assets/Common//bgclean.jpg'); /* Ensure the path is correct */
  background-size: cover;
  background-attachment: fixed; /* Fix the background */
  background-position: center; /* Center the background image */
  min-height: 100vh;
  padding: 30px 0;
  filter: brightness(1);
  position: relative;
  z-index: 0; /* Set z-index for background */
  overflow: hidden; /* Ensure background doesn’t scroll */
}
body {
  background-color: #f8f9fa;
  font-family: 'Arial', sans-serif;
}

.container {
  max-width: 1200px;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
  width: 350px;
  height: 450px; /* Set a fixed height for the card */
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 0 auto;
  margin-top: 20px; /* Add some space from the top */
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center; /* This ensures the button stays at the bottom */
  padding: 21px;
  flex-grow: 1; /* Allow the card content to take up available space */
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px; /* Add margin for spacing */
}

.card-text {
  font-size: 0.9rem;
  line-height: 1.5;
  margin-bottom: 20px; /* Add margin for spacing before the button */
}

.interested-button {
  background-color: #007bff;
  color: white;
  border: none;
  font-weight: bold;
  margin-top: auto; /* Ensure the button is at the bottom */
}

.interested-button:hover {
  background-color: #0056b3;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 900px;
}

.custom-button {
  margin: 3px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button.submit-button {
  background-color: #28a745;
  color: white;
}

button.close-button {
  background-color: #dc3545;
  color: white;
}

/* .pagination .page-link {
  color: #007bff;
} */

.pagination .page-link:hover {
  background-color: #e9ecef;
  border-color: #007bff;
}

.getAllFree{
  height: 400px !important;
  width: 350px !important;
}