.leadSignup{
  margin-left: 0px;
}

.MainSign{
  background-color: #27b6ee !important;
}

.joinSign{
  margin-right: 100px !important;
}

.joinSign p {
  color: white;
}


.joinSign h1 {
  color: white;
  font-weight: 200;
}

.rock{
  margin-top: 10px;
  margin-left: 300px;
}

.signh1{
  color: #27b6ee;
}

.btnsign1{
  background-color: #27b6ee !important;
  color: white !important;
  font-weight: 400 !important;
}

.conFluid {
  padding: 0px; /* Add padding around the container */
}

.SignForm {
  margin-bottom: 20px; /* Add margin at the bottom of the form */
}
