.loginleft{
  background-color: #0ea5e9 ;
}

.loginbtn{
  background-color: #0ea5e9 !important;
  font-weight: 400 !important;
  color: #fff !important;
}


.reclogin{
  color: #0ea5e9;
  font-weight: 800;
}

.forgotPass{
  color: #0ea5e9;
  font-weight: 500;
}

/* Fade-in animation for page load */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Add background image to the parent container */
.container-fluid {
  animation: fadeIn 1s ease-in-out;
  background: url('../../../assets/Common/bgclean.jpg') no-repeat center center;
  background-size: cover;
}


.loginleft {
  animation: slideInLeft 1s ease;
}

.reclogin {
  animation: slideInRight 1s ease-in-out;
}

.loginbtn {
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.loginbtn:hover {
  transform: scale(1.05);
  background-color: #007acc !important;
}

.forgotPass {
  transition: color 0.3s ease;
}

.forgotPass:hover {
  color: #004a7c;
  text-decoration: underline;
}

.alert {
  animation: fadeIn 0.5s ease-in-out;
}
