/* General Styling */
.login-container {
  background: linear-gradient(to right, #0ea5e9, #2ec4b6);
  color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Card Layout */
.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
  width: 900px;
  height: 500px; /* Set a fixed height for the card */
}


.card .card-left {
  background: linear-gradient(to bottom right, #0ea5e9, #00a896);
  padding: 2rem;
  text-align: center;
  color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card .card-left h2 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.card .card-left p {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.card .card-left .signup-btn {
  padding: 0.8rem 2rem;
  border: 2px solid white;
  color: white;
  border-radius: 30px;
  background: transparent;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.card .card-left .signup-btn:hover {
  background: white;
  color: #02a7a4;
}

/* Right Form Section */
.card .card-right {
  padding: 2rem;
  flex: 1;
  overflow-y: auto;
  height: 100%;
}

.card .card-right .freeh2 {
  color: #02a7a4;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  margin-top: 150px;
}

.card .card-right form{
  margin-top: 30px;
}

.card .card-right form .form-control {
  border-radius: 30px;
  padding: 0.8rem;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.card .card-right form .btn-primary {
  background: #02a7a4;
  border: none;
  border-radius: 30px;
  padding: 0.8rem;
  font-weight: bold;
  transition: all 0.3s ease;
  margin-top: 15px;
}

.card .card-right form .btn-primary:hover {
  background: #02a7a4;
}

.card .card-right form .error {
  color: #d9534f;
  margin-top: 0.5rem;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .card {
    flex-direction: column;
    height: auto;
    width: 90%;
  }

  .card .card-left,
  .card .card-right {
    padding: 1rem;
  }
}
