/* ApplicationsPage.css */
.container {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #343a40;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .list-group-item {
    background-color: #ffffff;
    border: none;
    margin-bottom: 15px;
    padding: 0;
  }
  
  .card {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .profile-pic {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-right: 1px solid #ddd;
  }
  
  .card-body {
    padding: 15px;
  }
  
  .card-body p {
    margin: 5px 0;
    font-size: 16px;
    color: #495057;
  }
  
  .card-body a {
    text-decoration: none;
    color: #007bff;
  }
  
  .card-body a:hover {
    text-decoration: underline;
  }

  .form-select {
    margin-top: 10px;
    width: 100%;
    max-width: 300px;
  }
  
  
  @media (max-width: 768px) {
    .card {
      flex-direction: column;
      text-align: center;
    }
  
    .profile-pic {
      border-right: none;
      border-bottom: 1px solid #ddd;
      width: 100%;
    }
  }
  